Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-braces-around-statements,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '(backend|calc)/.*\.hpp$'
FormatStyle: file
